@import "variables"

body
	//font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif
	font-family: Verdana
	margin: 0
	//padding: 10px 0
	// border: 1px solid red;
	background: #f3f1eb

#app
	//padding: 15px

*::selection
	background-color: transparent

.settings
	background-color: transparent
	font: 12px Verdana
	color: #ccc
	border: none
	margin: 0
	padding: 0
	text-decoration-line: underline
	text-decoration-color: #eee
	cursor: pointer
