@import "variables"

body
	font-family: Verdana
	margin: 0
	background: $background-color

*::selection
	background-color: transparent

.settings
	background-color: transparent
	font: 12px Verdana
	color: #ccc
	border: none
	margin: 0
	padding: 0
	text-decoration-line: underline
	text-decoration-color: #eee
	cursor: pointer
