@import "../styles/variables"

.button
	border: 1px solid $active-color
	background-color: transparent
	font: 12px Verdana
	margin: 0
	padding: 3px 8px 4px
	outline: none
	border-radius: 5px
	white-space: nowrap

	&:not(._selected)
		cursor: pointer

	&._selected
		color: #fff
		background-color: $active-color

	&._first-in-group
		border-top-right-radius: 0
		border-bottom-right-radius: 0

	&._middle-in-group
		border-left: none
		border-radius: 0

	&._last-in-group
		border-left: none
		border-top-left-radius: 0
		border-bottom-left-radius: 0


.button-group
	white-space: nowrap
