.chart
	display: grid
	grid-gap: 5px

	.chart__header
		display: grid
		grid-gap: 5px
		grid-auto-flow: column
		justify-content: start
		font-size: 17px

	.chart__title
		font-weight: bold

	.chart__currency-value

	.chart__body

	.chart__line
		fill: none
		stroke: #00bfff
		stroke-width: 2px
		stroke-linejoin: round
		stroke-linecap: round

	.chart__cursor-line
		stroke: #ff2400
		stroke-width: 1px
