@import "../styles/variables"

.chart
	display: grid
	grid-gap: 15px
	background-color: #fff
	padding: 10px 15px
	border-radius: 8px
	//box-shadow: 0 0 5px $shadow-color

	.chart__header
		display: grid
		grid-gap: 12px
		grid-auto-flow: column
		align-items: baseline
		justify-content: start
		font-size: 17px

	.chart__title

	.chart__combo-box
		font-size: inherit
		font-weight: bold
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		background-color: transparent
		border: none
		//text-decoration: underline dotted rgba(0, 0, 0, .5)
		border-radius: 0
		line-height: .9
		border-bottom: 1px dotted rgba(0, 0, 0, .75)
		cursor: pointer
		outline: none

	.chart__currency-splitter
		margin: 0 3px

	.chart__currency-value
		font-size: .9em
		color: rgba(0, 0, 0, .4)
		transition: opacity .2s

	.chart__body
		&:hover
			.chart__line
				stroke: #cfcfcf
			.chart__label
				fill: rgba(0, 0, 0, .5)
		*
			pointer-events: none

	.chart__label
		//dominant-baseline: central
		fill: rgba(0, 0, 0, .75)
		font-size: 10px

	.chart__line
		fill: none
		stroke: #00bfff
		stroke-width: 2px
		stroke-linejoin: round
		stroke-linecap: round
		transition: stroke .2s

	.chart__cursor-line
		stroke: #00bfff
		stroke-width: 2px

	.chart__cursor-point
		fill: #00bfff

	.chart__bubble-cover
		width: 100px
		height: 20px
		transform: translate(calc(var(--x) - 50%), -100%)

	.chart__bubble
		width: 100%
		height: 100%
		text-align: center

	.chart__grid
		stroke-width: 1
		stroke: rgba(0, 0, 0, .05)
		//stroke-dasharray: 1, 3
