.chart
	display: grid
	grid-gap: 10px

	.chart__header
		display: grid
		grid-gap: 5px
		grid-auto-flow: column
		justify-content: start
		font-size: 17px

	.chart__title
		font-weight: bold

	.chart__currency-value
		transition: opacity .2s

	.chart__body
		&:hover
			.chart__line
				stroke: #cfcfcf
			.chart__label
				fill: rgba(0, 0, 0, .5)
		*
			pointer-events: none

	.chart__label
		//dominant-baseline: central
		fill: rgba(0, 0, 0, .75)
		font-size: 10px

	.chart__line
		fill: none
		stroke: #00bfff
		stroke-width: 2px
		stroke-linejoin: round
		stroke-linecap: round
		transition: stroke .2s

	.chart__cursor-line
		stroke: #00bfff
		stroke-width: 2px

	.chart__cursor-point
		fill: #00bfff

	.chart__bubble-cover
		width: 100px
		height: 20px
		transform: translate(calc(var(--x) - 50%), -100%)

	.chart__bubble
		width: 100%
		height: 100%
		text-align: center

	.chart__grid
		stroke-width: 1
		stroke: rgba(0, 0, 0, .3)
		stroke-dasharray: 1, 3
