@import "../styles/variables"

.popup
	display: grid
	//grid-gap: 10px

	.popup__toolbar
		display: grid
		grid-auto-flow: column
		align-items: center
		justify-content: space-between
		padding: 10px 15px
		background-color: #fff
		margin-left: -8px
		box-shadow: 0 2px 10px $shadow-color

	.popup__range-group

	.popup__body
		display: grid
		grid-gap: 10px
		padding: 10px
